@charset "UTF-8";
/* Обнуление */
* {
  padding: 0;
  margin: 0;
  bottom: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  bottom: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* -------- */
body {
  background-color: gray;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

.card {
  background-color: #fff;
  border-radius: 15px;
  display: inline-block;
  vertical-align: top;
  width: 640px;
}
.card .card-content {
  padding: 16px;
}
.card .card-content .card__aboveHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3%;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}
.card .card-content .card__aboveHeader .aboveHeader-date {
  color: #5E6978;
}
.card .card-content .card__aboveHeader .aboveHeader-company .company__links {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.card .card-content .card__aboveHeader .aboveHeader-company .company__links #pro {
  margin-right: 20px;
}
.card .card-content .card__aboveHeader .aboveHeader-company .company__links a {
  cursor: pointer;
  transition: 0.3s linear;
}
.card .card-content .card__aboveHeader .aboveHeader-company .company__links a:hover {
  color: #5E6978;
}
.card .card-content .card__header {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 2%;
  color: #0C0D0F;
  width: 80%;
}
.card .card-content .card__text {
  font-size: 18px;
  line-height: 25px;
  color: #0C0D0F;
  width: 90%;
}
.card .card-image {
  background: url("../img/img.jpg") no-repeat;
  background-size: cover;
  width: 640px;
  height: 400px;
}
.card .card-footer {
  width: 40%;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  line-height: 24px;
  color: #5E6978;
}
.card .card-footer .footer__item p {
  cursor: pointer;
  transition: 0.3s linear;
}
.card .card-footer .footer__item p:hover {
  color: #000;
}

@media screen and (max-width: 380px) {
  .card {
    display: block;
    width: 100%;
    border-radius: 0;
  }
  .card .card-content .card__aboveHeader .company__links a:nth-child(2) {
    display: none;
  }
  .card .card-image {
    width: 100%;
    height: 380px;
    background-position: center;
  }
  .card .card-content .card__header {
    width: 95%;
  }
  .card .card-content .card__text {
    width: 90%;
  }
  .card .card-footer {
    width: 70%;
  }
}